<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">FINDOLOGIC Suche (Unified)</label>
    <label lang="en">FINDOLOGIC Search (Unified)</label>

    <version>10.2.0</version>
    <link>https://www.findologic.com/</link>
    <author>FINDOLOGIC GmbH</author>
    <support>https://www.findologic.com/</support>
    <copyright>Copyright (c) 2015 - 2020, FINDOLOGIC GmbH</copyright>
    <description lang="de">
        <![CDATA[
        <table bgcolor="white" style="border: solid 0px #b7ddf2;">
                <tr height="80px">
                    <td width="230px">
                        <a href="https://www.findologic.com/" target="_new">
                            <img
                                style="border: none"
                                width="200px"
                                height="60px"
                                src="https://cdn.findologic.com/images/FINDOLOGIC_LogoRGB.jpg"
                                alt="FINDOLOGIC GmbH"
                            />
                        </a>
                  </td>
                  <td >
                    <p style=" font: 12px tahoma,arial,helvetica,sans-serif;">Ihr Solution-Partner der Shopware AG, hier erhalten Sie Hilfe zur Konfiguration des Plugins und weitere Angebote rund um eCommerce.</p>
                    <br />
                    <a style=" font: 12px tahoma,arial,helvetica,sans-serif;" href="https://www.findologic.com/" target="_new">Hier geht es zur FINDOLOGIC GmbH Webseite</a>
                  </td>
                </tr>
         </table>
        ]]>
    </description>
    <description lang="en">
        <![CDATA[
        <table bgcolor="white" style="border: solid 0px #b7ddf2;">
                <tr height="80px">
                    <td width="230px">
                        <a href="http://www.findologic.com/" target="_new">
                            <img
                                style="border: none"
                                width="200px"
                                height="60px"
                                src="http://cdn.findologic.com/images/FINDOLOGIC_LogoRGB.jpg"
                                alt="FINDOLOGIC GmbH"
                            />
                        </a>
                  </td>
                  <td >
                    <p style=" font: 12px tahoma,arial,helvetica,sans-serif;">Your Online Solution Partner of Shopware AG provides help in plugin configuration and further offers in terms of eCommerce.</p>
                    <br />
                    <a style=" font: 12px tahoma,arial,helvetica,sans-serif;" href="http://www.findologic.com/en" target="_new">Follow the link to FINDOLOGIC GmbH website.</a>
                  </td>
                </tr>
         </table>
        ]]>
    </description>
    <compatibility minVersion="5.2.0" />
</plugin>
