<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.6/engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">Findologic - Search &amp; Navigation Platform</label>
    <label lang="en">Findologic - Search &amp; Navigation Platform</label>

    <version>11.7.0</version>
    <link>https://www.findologic.com/</link>
    <author>FINDOLOGIC GmbH</author>
    <support>https://www.findologic.com/</support>
    <copyright>Copyright (c) 2015 - 2021, FINDOLOGIC GmbH</copyright>
    <license>GPL-3.0-or-later</license>
    <description lang="de">
        <![CDATA[
        <table bgcolor="white" style="border: solid 0px #b7ddf2;">
                <tr height="80px">
                    <td width="230px">
                        <a href="https://www.findologic.com/" target="_new">
                            <img
                                style="border: none"
                                width="200px"
                                height="60px"
                                src="https://cdn.findologic.com/images/FINDOLOGIC_LogoRGB.jpg"
                                alt="FINDOLOGIC GmbH"
                            />
                        </a>
                  </td>
                  <td >
                    <p style=" font: 12px tahoma,arial,helvetica,sans-serif;">Ihr Solution-Partner der Shopware AG, hier erhalten Sie Hilfe zur Konfiguration des Plugins und weitere Angebote rund um eCommerce.</p>
                    <br />
                    <a style=" font: 12px tahoma,arial,helvetica,sans-serif;" href="https://www.findologic.com/" target="_new">Hier geht es zur FINDOLOGIC GmbH Webseite</a>
                  </td>
                </tr>
         </table>
        ]]>
    </description>
    <description lang="en">
        <![CDATA[
        <table bgcolor="white" style="border: solid 0px #b7ddf2;">
                <tr height="80px">
                    <td width="230px">
                        <a href="http://www.findologic.com/" target="_new">
                            <img
                                style="border: none"
                                width="200px"
                                height="60px"
                                src="http://cdn.findologic.com/images/FINDOLOGIC_LogoRGB.jpg"
                                alt="FINDOLOGIC GmbH"
                            />
                        </a>
                  </td>
                  <td >
                    <p style=" font: 12px tahoma,arial,helvetica,sans-serif;">Your Online Solution Partner of Shopware AG provides help in plugin configuration and further offers in terms of eCommerce.</p>
                    <br />
                    <a style=" font: 12px tahoma,arial,helvetica,sans-serif;" href="http://www.findologic.com/en" target="_new">Follow the link to FINDOLOGIC GmbH website.</a>
                  </td>
                </tr>
         </table>
        ]]>
    </description>
    <compatibility minVersion="5.3.0" />
    <changelog version="11.7.0">
        <changes lang="de">
            SW-679 - Support für Herstellerseiten hinzugefügt.;
            SW-750 - Ein Fehler wurde behoben, welcher zu Konflikten mit anderen Plugin Konfigurationen Konflikte geführt hat.;
        </changes>
        <changes lang="en">
            SW-679 - Add support for manufacturer pages.;
            SW-750 - Fixed a bug that lead to conflicts with other plugin configurations.;
        </changes>
    </changelog>
    <changelog version="11.6.0">
        <changes lang="de">
            SW-560 - Produktbilder werden jetzt in einer Größe von 600x600px exportiert.;
            SW-602 - Die Shop Version wird nun beim Request mit übergeben.;
            SW-684 - Unser JavaScript Dateien werden nun vorgeladen.;
            SW-717 - Version von guzzlehttp/psr7 wurde erhöht.;
            SW-448 - Ein Fehler wurde behoben, wodurch pro Suche oder Navigation extra Anfragen geschickt wurden.;
            SW-625 - Ein Fehler wurde behoben, wobei die Kachel beim Farbfilter nicht als selektiert markiert wurde.;
            SW-714 - Ein Fehler wurde behoben, wodurch die Bild Urls nicht vollständig kodiert wurden.;
            SW-725 - Ein Fehler wurde behoben, wodurch bei Herstellerseiten nach Interaktion alle Produkte des Shops
            angezeigt wurden.;
            SW-726 - Ein Fehler wurde behoben, wodurch das falsche Produktbild in der Suggest angezeigt wurde.;
        </changes>
        <changes lang="en">
            SW-560 - Product images are now exported in a size of 600x600px.;
            SW-602 - The shop version is now sent with each request.;
            SW-684 - Our JavaScript bundle is now pre-loaded.;
            SW-717 - Version of guzzlehttp/psr7 has been increased.;
            SW-448 - Fixed a bug that lead to extra requests with each search or navigation request.;
            SW-625 - Fixed a bug that caused the color tile to not being marked as selected.;
            SW-714 - Fixed a bug that could cause image urls not being completely encoded.;
            SW-725 - Fixed a bug that lead to all products being shown after interacting with a manufacturer page.;
            SW-726 - Fixed a bug that lead to the wrong image being exported as preview image.;
        </changes>
    </changelog>
    <changelog version="11.5.2">
        <changes lang="de">
            SW-676 - Ein Fehler wurde behoben, wodurch das Cover-Bild eines Produktes nicht als erstes Bild exportiert
            wurde.;
            SW-713 - Es ist nun möglich eigene Sortier-Optionen mithilfe des Findologic Erweiterungsplugins
            zu definieren.;
        </changes>
        <changes lang="en">
            SW-676 - Fixed a bug that caused the cover image of a product not being exported as first image.;
            SW-713 - Added possibility to define custom sorting options using the plugin extension.;
        </changes>
    </changelog>
    <changelog version="11.5.1">
        <changes lang="de">
            SW-643 - Ein Fehler wurde behoben, wodurch keywords nur auf dem Hauptshop exportiert wurden.;
            SW-655 - Ein Fehler wurde behoben, wodurch manche Filter deaktiviert wurden, wenn ElasticSearch
            verwendet wurde.;
        </changes>
        <changes lang="en">
            SW-643 - Fixed a bug that caused no keywords to be exported, in case the exported shop was not the main
            shop.;
            SW-655 - Fixed a bug that could cause filters to be disabled when using ElasticSearch.;
        </changes>
    </changelog>
    <changelog version="11.5.0">
        <changes lang="de">
            SW-628 - Das Setzen von versteckten pushAttrib Feldern im Suchformular wird nun für Personalisierung
            unterstützt.;
            SW-637 - Ein Fehler wurde behoben, wodurch Bereichsslider Filter das Resultat nicht korrekt
            gefiltert wurde.;
            SW-640 - Ein Fehler wurde behoben, wodurch bei Filter mit Bildern das keine-Ergebnisse Bild
            angezeigt wurde.;
        </changes>
        <changes lang="en">
            SW-628 - Setting hidden pushAttrib fields to the search form for personalization is now supported.;
            SW-637 - Fixed a bug that would cause range-slider filters to not properly filter the results.;
            SW-640 - Fixed a bug that caused filters with images to show a no-result-image instead.;
        </changes>
    </changelog>
    <changelog version="11.4.0">
        <changes lang="de">
            SW-626 - HTML Entitäten in der Beschreibung, Titel, etc. werden nun automatisch im Export enkodiert.;
        </changes>
        <changes lang="en">
            SW-626 - HTML entities in descriptions, titles, etc. are now encoded in the export.;
        </changes>
    </changelog>
    <changelog version="11.3.0">
        <changes lang="de">
            SW-555 - Shopware 5.7.0 wird nun unterstützt;
            SW-615 - Ausgewählte Farbfilter zeigen nun den Namen der Farbe neben der Farbe an;
        </changes>
        <changes lang="en">
            SW-555 - Added support for Shopware 5.7.0;
            SW-615 - Selected color filters will now show their name next to the color;
        </changes>
    </changelog>
    <changelog version="11.2.0">
        <changes lang="de">
            SW-597 - Wenn ein Produkt beim exportieren scheitert, wird dieses Produkt nun übersprungen. Der Fehler
            wird in das Plugin-Log geschrieben.
            SW-598 - Cross-Selling Kategorien können nun per Subshop gespeichert werden.
            SW-603 - Der konfigurierte Preis-Faktor wird nun beim Export bei der Preiskalkulation berücksichtigt;
        </changes>
        <changes lang="en">
            SW-597 - In case a product fails while exporting, the product will now be skipped. The error will
            be logged in the plugin log.;
            SW-598 - Cross-Selling categories can now be configured per subshop.;
            SW-603 - The configured price-factor is now taken into account, when exporting the product price.;
        </changes>
    </changelog>
    <changelog version="11.1.1">
        <changes lang="de">
            SW-577 - Ein Fehler wurde behoben, wodurch Filter nicht korrekt kodiert wurden, wenn diese "+" Zeichen
            beinhalteten.;
        </changes>
        <changes lang="en">
            SW-577 - Fixed a bug that caused a wrong encoding, when a filter contained "+" signs.;
        </changes>
    </changelog>
    <changelog version="11.1.0">
        <changes lang="de">
            SW-434 - Wenn Pseudo-Verkäufe für ein Produkt konfiguriert sind, wird der Export diese
            Verkäufe anstatt der tatsächlichen Verkaufszahl exportieren.;
            SW-526 - Ein Fehler wurde behoben, wodurch cat_urls nicht korrekt exportiert wurden, wenn
            diese slashes (/) im Namen beinhalteten.;
        </changes>
        <changes lang="en">
            SW-434 - Configuring a pseudo sale for a product, will export the configured pseudo sale as
            sales frequency, instead of the actual sales frequency.;
            SW-526 - Fixed a bug that caused cat_urls to not be properly exported, in case their name
            contained slashes (/).;
        </changes>
    </changelog>
    <changelog version="11.0.0">
        <changes lang="de">
            INFO - Diese Version enthält große Änderungen.
                Sollte die Suchlogik mit einem Erweiterungsplugin überschrieben worden sein, kontaktiere bitte unseren
                Support (support@findologic.com), oder lies UPGRADE-11.0.md
                (https://github.com/findologic/plugin-shopware-5/blob/develop/UPGRADE-11.0.md) für eine
                Update-Anleitung durch.;
            SW-480 - Die Export Route (/findologic?shopkey=xxx) erlaubt nun einen optionalen Parameter.
                Wenn dieser hinzugefügt wird, werden alle Details zum Produkt als XML zurückgegeben.
                Sollte das Produkt nicht exportiert werden können, wird stattdessen ein JSON zurückgegeben,
                welches Informationen beinhaltet, warum das Produkt nicht exportiert werden kann.;
            SW-334 - Intern wird nun die findologic-api Bibliothek verwendet, um Anfragen sowie Antworten
                von der Findologic API zu verarbeiten.;
            SW-495 - Ein Fehler wurde behoben, wodurch cat_urls nicht korrekt im Export übermittelt wurden,
                wenn diese multibyte Zeichen beinhalteten.;
        </changes>
        <changes lang="en">
            NOTE - This version includes a major refactoring in regards of how the response is sent to Findologic,
                and parsed back again. If the search logic has been overridden with an extension plugin,
                please contact our support (support@findologic.com) or refer to
                UPGRADE-11.0.md (https://github.com/findologic/plugin-shopware-5/blob/develop/UPGRADE-11.0.md)
                for upgrade instructions.;
            SW-480 - The export route (/findologic?shopkey=xxx) now allows an optional productId query parameter.
                When it is supplied you will get all product details as XML. In case the product cannot be exported,
                you will receive a JSON instead, containing all information on why that product cannot be exported.;
            SW-334 - Internally the findologic-api library is now used, to send the requests and retrieve the
                response from the Findologic API.;
            SW-495 - Fixed a bug that caused wrong cat_urls to be exported, when it contained multibyte characters.;
        </changes>
    </changelog>
    <changelog version="10.4.2">
        <changes lang="de">
            SW-464 - Die Basis-URL des Shops wurde bei cat_urls nicht berücksichtigt. Dies wurde behoben.;
            SW-478 - Ein Fehler wurde behoben, welcher dazu führte, dass Filter nicht korrekt funktionierten, wenn diese multi-byte Zeichen beinhalteten.;
        </changes>
        <changes lang="en">
            SW-464 - The shops's base URL was not taken into account for cat_urls. This has been fixed.;
            SW-478 - Fixed a bug that caused filters not to work properly, when the filter name contained multi-byte characters.;
        </changes>
    </changelog>
</plugin>
