<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../engine/Shopware/Components/Plugin/schema/config.xsd">

    <elements>
        <element type="text" required="true" scope="shop">
            <name>ShopKey</name>
            <label lang="de">Shopkey</label>
            <label lang="en">Shopkey</label>
            <value>Findologic Shopkey</value>
            <description lang="de">Findologic Shopkey</description>
            <description lang="en">Findologic Shopkey</description>
        </element>
    </elements>

</config>