.input-type--media .option--container .filter-panel--label {
  width: 45px;
  height: 45px;
  border: 1px solid #dbd7e5;

  div.color--filter-item {
    height: 100%;
    width: 100%;
    background-size: contain;
  }
}

.filter--active {
  .color--filter-item {
    float: left;
    width: 16px;
    height: 16px;
    border: 1px solid #dbd7e5;
    margin-top: 5px;
    border-radius: 3px;
  }

  .filter--active-icon {
    float: left;
    margin-top: 2px;
  }

  .color--filter-name {
    float: right;
    margin-left: 5px;
  }
}
