<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../engine/Shopware/Components/Plugin/schema/config.xsd">

    <elements>
        <element type="text" required="true" scope="shop">
            <name>ShopKey</name>
            <label lang="de">Shopkey</label>
            <label lang="en">Shopkey</label>
            <value>Findologic Shopkey</value>
            <description lang="de">Findologic Shopkey</description>
            <description lang="en">Findologic Shopkey</description>
        </element>
        <element type="boolean" required="true" scope="shop">
            <name>ActivateFindologic</name>
            <label lang="de">Aktiv</label>
            <label lang="en">Active</label>
            <value>true</value>
            <description lang="de">Aktiviert die Findologic Suche</description>
            <description lang="en">activate the findologic search provider</description>
        </element>
        <element type="boolean" required="true" scope="shop">
            <name>FindologicKategorien</name>
            <label lang="de">Kategorien Aktiv</label>
            <label lang="en">Categories Active</label>
            <value>true</value>
            <description lang="de">Aktiviert die Findologic Kategorien</description>
            <description lang="en">activate the findologic categories</description>
        </element>
    </elements>

</config>